<h1>Genres</h1>
<div class="container container-cover-card">
  <% @cover_cards.each do |cover_card| %>
    <%= render 'shared/cover_card', backdrop_url: cover_card[:backdrop_url], genre: cover_card[:genre] %>
  <% end %>
</div>
