// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

// Define fonts for body and headers
$body-font: "PT Sans Narrow", "sans-serif";
$headers-font: "Bebas Neue", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
$small-text: 14px;
$big-text: 1.5rem;
$bigger-text: 2rem;
$media-heading-text: 3rem;
