.media-show-heading {
  display: flex;
  align-items: center;
  .btn-add-list {
    margin-left: 30px;
  }
}

.media-show-poster-img {
  width: 16rem;
}

.media-show-infos-year-type {
  margin-bottom: 20px;
}

.media-show-infos {
  display: flex;
  width: 60rem;
}

.media-show-info-heading {
  font-weight: 600;
}

.media-show-info-text {
  margin-right: 10px;
}

.media-show-infos-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 15rem;
  margin-left: 1rem;
}
