<h1 class="page-heading">Search Results</h1>

<% if @query.present? %>
  <div class="container-item-card">
    <% @titles.each do |title| %>
      <%= render 'shared/item_card', title: title %>
    <% end %>
  </div>
<% else %>
  <p>No results found. Please try a different search.</p>
<% end %>
