<h1 class="page-heading">My Lists</h1>

<div class="collection-card-list">
<% if @user == current_user %>
  <% if @watchlist %>
   <%= render 'shared/collection_card', list: @watchlist%>
  <% end %>

  <% @private_lists.each do |list| %>
    <%= render 'shared/collection_card', list: list%>
  <% end %>
<% end %>

<% @lists.each do |list| %>
 <%= render 'shared/collection_card', list: list%>
<% end %>
</div>
