<% list_activity.each do |activity| %>
  <div class="activity-feed-item">
    <% case activity.class.name %>
    <% when 'Review' %>
      <%= render 'shared/activity_review', activity: activity %>
    <% when 'ListItem' %>
      <%= render 'shared/activity_list_item', activity: activity %>
      <%= render 'shared/activity_collection_card', activity: activity.list %>
    <% when 'List' %>
      <%= render 'shared/activity_collection_card', activity: activity %>
    <% end %>
  </div>
<% end %>
