<div class="card collection-card mb-3">
  <div class="collection-card-images w-100">
    <% 4.times do %>
        <img src="https://www.washingtonpost.com/graphics/2019/entertainment/oscar-nominees-movie-poster-design/img/black-panther-web.jpg" class="collection-card-img-top" alt="...">
    <% end %>

  </div>
  <div class="card-body collection-card-body">
    <div class="collection-card-main-text">
      <h5 class="card-title collection-card-title">Card title</h5>
      <p class="card-subtitle collection-card-subtitle">Username</p>
    </div>
    <div class="card-text collection-card-small-text">
        <p>#</p>
        <div>
          <p>Icon 1</p>
          <p>Icon 2</p>
        </div>
    </div>
  </div>
</div>
