<div class="card cover-card mb-3">
  <img src="https://cdn.pixabay.com/photo/2018/05/01/07/52/tuscany-3364921_1280.jpg" class="card-img-top cover-card-img-top" alt="...">
  <div class="card-body cover-card-body">
      <h5 class="card-title cover-card-title">Card title</h5>
  </div>
</div>
