<div class="card people-card mb-3">
  <img src="<%= person[:profile_path] %>" alt="<%= person[:name] %>" class="card-img-top people-card-img-top">
  <div class="card-body people-card-body">
    <h5 class="card-title people-card-title text-truncate"><%= person[:name] %></h5>
  </div>
</div>
