<div class="card cover-card text-bg-dark">
  <img src="https://cdn.pixabay.com/photo/2018/05/01/07/52/tuscany-3364921_1280.jpg" class="card-img cover-card-img" alt="...">
  <div class="card-img-overlay cover-card-img-overlay">
    <h5 class="card-title cover-card-title">Card title</h5>
  </div>
</div>
