<%# TITLE %>
<h1 class="page-heading">Pages#home</h1>

<%# CAROUSEL from Bootstrap, Banner (in .carousel-item) from LW UI Kit%>
<%= render 'shared/carousel' %>
<%# LIST CAROUSEL %>

<%# ITEM CARD %>
<%= render 'shared/item_card' %>

<%# COVER CARD %>
<div class="card cover-card mb-3">
  <img src="https://cdn.pixabay.com/photo/2018/05/01/07/52/tuscany-3364921_1280.jpg" class="card-img-top cover-card-img-top" alt="...">
  <div class="card-body cover-card-body">
      <h5 class="card-title cover-card-title">Card title</h5>
  </div>
</div>

<%# STREAMING SERVICE CARD %>
<div class="card cover-card text-bg-dark">
  <img src="https://cdn.pixabay.com/photo/2018/05/01/07/52/tuscany-3364921_1280.jpg" class="card-img cover-card-img" alt="...">
  <div class="card-img-overlay cover-card-img-overlay">
    <h5 class="card-title cover-card-title">Card title</h5>
  </div>
</div>

<%# COLLECTION CARD %>
<%= render 'shared/collection_card' %>


<%# ITEM DESCRIPTION CARD %>
<div class="item-description-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="item-description-card-img"/>
  <div class="item-description-card-infos">
    <h2 class="item-description-card-title">Media Title</h2>
    <div class="item-description-card-small-text">
      <p>Released Year</p>
      <p>·</p>
      <p>Rating</p>
      <p>·</p>
      <p>Duration</p>
    </div>
    <div class="item-description-card-main-text">Description</div>
  </div>
</div>
