<h1 class="page-heading">Movies</h1>

<div class="container container-item-card">
  <% @db_movies.each do |title| %>
    <%= render 'shared/item_card', title: title %>
  <% end %>
</div>
<div class="pagination-container">
  <%= paginate @db_movies, param_name: 'movie_page', class: 'pagination' %>
</div>
