<h1 class="page-heading">TV Shows</h1>

<div class="container container-item-card">
  <% @db_tv_shows.each do |title| %>
    <%= render 'shared/item_card', title: title %>
  <% end %>
</div>
<div class="pagination-container">
  <%= paginate @db_tv_shows, param_name: 'tv_page', class: 'pagination' %>
</div>
