.card {
  color: $main-black;
}

// ITEM CARD
.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  // margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  &:hover {
    scale: 1.02;
    transition: 0.3s ease-in-out;
  }
  &:hover .btn-add-list {
    visibility: visible;
  }
}

.item-card-img-top {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.item-card-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  position: relative;
  .item-card-small-texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $small-text;
    .item-card-small-text-heading {
      font-weight: 600;
    }
  }

  .item-card-small-text-rating {
    font-size: 18px;
    align-self: end;
    .item-card-small-text-rating-subheading {
      font-size: $small-text;
    }
  }

  .item-card-title {
    word-wrap: break-word;
    font-size: $big-text;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.item-card-small-text-username {
  font-weight: 600;
}

// COVER CARD
.cover-card {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 20rem;
  height: 100%;
  max-height: 200px;
}

.cover-card-img-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-card-body {
  background-color: $main-white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 3rem;
  .cover-card-title {
    font-size: $bigger-text;
  }
}

// COLLECTION CARD
.collection-card {
  background-color: $main-color;
  width: 100%;
  max-width: 20rem;
  height: 100%;
  max-height: 300px;
}

.collection-card-images {
  aspect-ratio: 16 / 9;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  overflow-x: hidden;
}

.collection-card-img {
  height: 100%;
}

.collection-card-body {
  background-color: $main-white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 6rem;
  position: relative;
}

.collection-card-main-text {
  display: flex;
  position: relative;
  align-items: end;
  .collection-card-title {
    font-size: $big-text;
    margin-right: 1rem;
  }
}

.collection-card-small-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $small-text;
  div {
    display: flex;
    :first-child {
      margin-right: 10px;
    }
  }
}

.collection-card-film-number {
  display: flex;
  align-items: center;
}

.collection-card-username {
  font-size: 18px;
  font-weight: 600;
}

// ITEM DESCRIPTION CARD
.item-description-card {
  width: 70%;
  max-width: 500px;
  height: 100%;
  max-height: 200px;
  display: flex;
  align-items: center;
  background: $main-white;
  color: $main-black;
}

.item-description-card-img {
  height: 200px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.item-description-card-infos {
  padding: 16px;
  .item-description-card-title {
    font-size: $big-text;
  }
  .item-description-card-small-text {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    font-size: $small-text;
  }
}

// PROFILE PAGE CARD
.activity-feed-card {
  margin: auto;
  margin-bottom: $default-margin;
  width: 95%;
  height: 20rem;
  padding: 10px;
  // border: 1px solid $light-white;
  background-color: $sub-color;
  overflow-y: auto;
  scrollbar-width: none;
}

// PEOPLE CARDS
.people-card {
  width: 100%;
  max-width: 120px; /* Adjust the max width */
  overflow: hidden;
  border-radius: 0px;
}

.people-card-img-top {
  height: 140px; /* Adjust the height to match the new width */
  object-fit: cover;
}

.people-card-body {
  padding: 5px;
}

.people-card-title {
  font-size: $small-text; /* Smaller font size */
  line-height: 1.2;
  max-height: 2.4rem; /* Allow for up to 2 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}

.people-card-character {
  font-size: 12px; /* Even smaller font size */
  text-align: center;
  color: #777; /* A different color for the character name */
  line-height: 1.2;
  max-height: 1.2rem; /* Allow for up to 1 line of text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

// REVIEW CARD
.item-review-card {
  max-width: 49.8rem;
  background-color: #1e1a1d;
  color: white;
  padding-right: 15px;
  margin-bottom: 10px;
  cursor: default;
  &:hover {
    scale: none;
  }
}

.item-review-user {
  display: flex;
  align-items: center;
}

.item-review-user-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .item-review-user-rating-text {
    margin-bottom: 0px;
    &:first-child {
      font-size: 20px;
    }
  }
}

.item-review-user-review-text {
  margin: 15px 0px;
  font-size: 18px;
  .fa-quotes {
    font-size: $smaller-text;
    color: $light-black;
    margin: 0px 5px;
  }
}

.item-review-user-texts {
  display: flex;
  justify-content: space-between;
}

.item-review-heart {
  display: flex;
  align-items: center;
}

.item-review-heart-counter {
  margin-left: 5px;
}

.review_form_input {
  background-color: black;
}

// PROFILE PAGE FOLLOWING
.following-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
  cursor: pointer;
  color: $main-white;
  font-size: 20px;
  &:hover {
    color: $key-color;
    transition: 0.3s ease-in-out;
    .avatar-following {
      border-color: $key-color;
      transition: 0.3s ease-in-out;
    }
  }
}

// WISHLIST
.item-card-favorite {
  border: 2px solid silver;
  border-radius: 3px;
}
