.home-heading {
  margin: 10px 0px;
}

.page-heading {
  display: block;
  margin-bottom: $default-margin;
  text-align: center;
}

.media-heading {
  font-size: $media-heading-text;
}

.user-heading {
  font-size: $bigger-text;
}

.page-heading-show-list {
  margin-bottom: 10px;
}

.page-heading-media-show {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.container-collection-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 32px;
}

.page-heading-list {
  text-align: none;
  margin-bottom: 0px;
  margin-right: 20px;
}
