.search {
  flex-grow: 1;
  max-width: 500px;
  margin-right: 135px; //use this to center the navbar
}

.search-form-control {
  width: 100%;
  position: relative;
  .form-control {
    height: 2.5rem;
    border-radius: 30px;
    &:focus {
      border: 1px solid $key-color;
      outline: none !important;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    }
  }
}
