// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/margins";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/profile";
@import "pages/show";

// Shared
body {
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  background-color: $main-color;
  color: $main-white;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 2px;
}

.pagination .page-item {
  margin: 0 5px;
  cursor: pointer;
}

.pagination .page-item .page-link {
  padding: 10px 15px;
  font-size: 18px;
  letter-spacing: 2px;
  color: $key-color;
  text-decoration: none;
}

.pagination .page-item .page-link:hover {
  background-color: $main-white;
  border-radius: 5px;
}

.pagination .page-item.active .page-link {
  background-color: $key-color;
  color: $main-white;
  border-radius: 5px;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
}

.fa-star {
  color: $star-color;
}

.fa-heart {
  color: $heart-color;
}
